@import "tailwindcss";
@config "../tailwind.config.ts";

html {
  -ms-overflow-style: none !important;
}

html,
body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #f8fafc;
}

html.dark>body,
body.dark {
  background: #0f0f0f !important;
}

.scrollbar-hidden {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8c53ff45;
  border-radius: 4px;
}

.snowflake {
  position: absolute;
  top: -10%;
  color: white;
  user-select: none;
  animation-name: snowfall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

.animate-neon-glow {
  animation: neon-glow 2.5s ease-in-out infinite;
}

.chat-scroll>button {
  display: none !important;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

@keyframes snowfall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
  }

  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes neon-glow {

  0%,
  100% {
    filter: drop-shadow(0 0 4px cyan) drop-shadow(0 0 8px purple);
  }

  50% {
    filter: drop-shadow(0 0 10px cyan) drop-shadow(0 0 15px purple);
  }
}