@import "tailwindcss";
@config "../tailwind.config.ts";

html {
  -ms-overflow-style: none !important;
  background: #f8fafc;

}

body {
  -webkit-font-smoothing: antialiased;
  background: #f8fafc;
}

.scrollbar-hidden {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8c53ff45;
  border-radius: 4px;
}
